 *{
    margin: 0;
    padding: 0;
} 

.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
}

.navbar{
    display: flex;
    width: 100%;
    margin:auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(247, 229, 202);
    
}

.logo{
    color:blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    margin-left: 50px;
    padding-left: 30px;
    padding-top: 20px;
}
.nav-list{
   display: flex;
   padding-right: 30px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;

}

ul li{
    display:inline-block;
    list-style: none;
    margin:10px 10px;
    padding-right: 20px;
    font-size: 15px;
    text-transform: uppercase;

}

ul li a{
    text-decoration: none;
    color: blanchedalmond;

}
ul li a:hover{
    color: rgb(252, 233, 125,53, 248);
    border-bottom:1px solid orange;

}

.images{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    
}

.gallery{
    display: flex;
    width: 70%;

}
img{
    transition: all 1s;
}

img:hover{
    transform: scale(1.1);
}
span a{
    text-decoration: none;
    list-style: none;
    color: orange;

}

span a:hover{
    border: 1px solid orange;
    border-radius: 5px;
    color: blanchedalmond;
    background-color: orange;
    padding: 5px;
    margin-top: 50px;
}
.contentimage{
    /* /* width: 450px; */
    /* height: 500px;  */
    margin:90px 0 20px 20px;
}

.description{
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 10px;
    color: blanchedalmond;
    margin-top:80px;
}
.action-btn{
    display: flex;
    align-items: center;
    color: rgb(131, 89, 11);
}
h2{
    color: blanchedalmond;
    font-size: 50px;
}

hr{
    width: 23px;
    margin-right: 3px;
    color:rgb(131, 89, 11) ;
    /* margin-left: 10px; */
    /* margin-top: 10px ; */
}

.links-btn{
    width: 80%;
    height: 30px;
    display: flex;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 1s;
}

.links-btn li:hover{
    transform: scale(1.1);
}
 .btnpage{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 60px;
    margin-top: 10rem;
}
 .btnpage li{
     background-color: white;
     border-radius: 100%;
     
 }
 .links-btn h4{
     font-size: 25px;
     margin-top: 10rem;
     margin-right: 30px;
     display: flex;
     justify-content: flex-end;
     width: 100%;
 }

 #nextpage{
     background-color: orange;
 }
/* .mainlist{
    color: orange;
} */



